@use "mixins" as *;

header{
	@include flex(row, space-between);
	background-color: var(--primary-bg-light);
	color: var(--primary-fg);
	box-shadow: 2px 2px 4px #000;
	padding: 0 1rem;

	nav{
		@include flex(row, flex-end);
		gap: 1rem;
		a {
			@include flex(column, center, center);
			color: inherit;
			text-decoration: none;
			position: relative;
			z-index: 1;
			padding: 0 1rem;
			&::before{
				content: '';
				z-index: -1;
				position: absolute;
				height: 100%;
				width: 100%;
				background-color: var(--primary-bg);
				box-shadow: 2px 2px 4px #000;
				transform: skew(-45deg);
				transition: 200ms;
			}

			&:hover, &.current{
				&::before{
					top:0;
					height: 105%;
					background-color: var(--primary-bg-dark);
					box-shadow: 3px 3px 6px #000;
				}
			}


		}
	}
}