@use "reset";
@use "theme";
@use "header";
@use "mixins" as *;

/* 
General color scheme
*/
html, body{
	margin:0;
	background:var(--bg, #fff);
	color: var(--fg);
	font-size: 1.25rem;
}

main {
	@include flex(column, flex-start);
	gap: 1rem;
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 2px 2px 4px #000;
	overflow: hidden;
}


.row{
	display:flex;
	flex-flow: row nowrap;
}

.column{
	display:flex;
	flex-flow: column nowrap;
}
.row, .column {
	&.space-evenly{
		justify-content: space-evenly;
	}
	&.space-between{
		justify-content: space-between;
	}
	&.justify-end{
		justify-content: flex-end;
	}
	&.gap-1{
		gap: 1rem;
	}
}
.expand{
	flex: 1;
}
.success {
	color: var(--success-fg-color);
	background-color: var(--success-bg-color);
}

.button {
	border:none;
	box-shadow: 2px 2px 4px #000;
	height: 2rem;
	line-height: 2rem;
	padding: 0 0.5rem;
	border-radius: 0.25rem;
	color: inherit;
	display: inline-block;

	&:hover{
		background-color: rgba(0,0,0,0.1);
		box-shadow: 3px 3px 6px #000;
	}

	&.primary{
		background-color: var(--primary-bg);
		color: var(--primary-fg);

		&:hover{
			background-color: var(--primary-bg-dark);
		}
	}

	&.success {
		background-color: var(--success-bg);
		color: var(--success-fg);

		&:hover{
			background-color: var(--success-bg-dark);
		}
	}

	&.error {
		background-color: var(--error-bg);
		color: var(--error-fg);

		&:hover{
			background-color: var(--error-bg-dark);
		}
	}
}
.shadowed{
	box-shadow: 2px 2px 4px #000;
}
.clipped{
	overflow: hidden;
}
.rounded{
	border-radius: 0.25rem;
}
.grid {
	display:grid;
	gap:1rem;
	grid-template-columns: repeat(4, 1fr);
}
.mw-10{
	max-width: 10rem;
}
.image-container{
	position:relative;
	p{
		position: absolute;
		padding: 0 0.25rem;
		width: 100%;
		height: 2rem;
		bottom: 0;
		backdrop-filter: blur(8px);
		color: #fff;
		background: rgba(0,0,0,0.25);
	}
}
button {
	@extend .button;
}

#modal-overlay{
	@include flex(column, center, center);
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.1);
	backdrop-filter: blur(8px);
	.modal-hero{
		background-color: var(--bg);
		color: var(--fg);
		padding: 1rem;
		border-radius: 0.25rem;
		box-shadow: 2px 2px 4px #000;
	}
}