@use "reset.scss";
@use "theme";

/* 
General color scheme
*/
html, body{
	margin:0;
	background:var(--background-color, #fff);
	color: var(--foreground-color);
}


/*
Header Styling
*/
header {
	background: var(--primary-bg-color, #fff);
	color: var(--primary-fg-color, #000);
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
	box-shadow: 2px 2px 4px #000;
	h2{
		margin-left: 1rem;
	}
	nav {
		display: flex;
		padding-right: 1rem;
		flex-flow: row nowrap;
		align-items: stretch;
		gap:1rem;
		a{
			display:flex;
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			color:inherit;
			font-size: 1.25rem;
			line-height: 1.25rem;
			text-decoration: none;
			position: relative;
			padding: 0 1rem;
			z-index: 1;
			&::before{
				content: '';
				background-color: var(--primary-bg-color-light);
				position: absolute;
				width: 100%;
				height: 100%;
				transform: skew(-45deg);
				box-shadow: 2px 2px 4px #000;
				z-index: -1;
			}
			&:not(.current):hover{
				&::before{
					background-color: var(--primary-bg-color-dark);
				}
			}
			&.current{
				&::before{
					height: 110%;
					background-color: var(--primary-bg-color-dark);
				}
			}
		}
	}
}

main {
	margin: 1rem;
	padding: 1rem;
	border-radius: 0.25rem;
	box-shadow: 2px 2px 4px #000;
	overflow: hidden;
}

form {
	margin: 1rem 0 0 0;
	display: flex;
	flex-flow: column nowrap;
	gap:2rem;
}
label:not(.file-upload) {
	flex:1;
	border-bottom: 1px solid;
	position: relative;
	display:inline-flex;
	span{
		transition: 200ms;
		position: absolute;
		line-height: 1rem;
		top: calc(50% - 0.5rem);
		font-weight: bold;
		padding-left: 0.25rem;
		&:has(+ input:not(:placeholder-shown)), &:has(+ textarea:not(:placeholder-shown)){
			top:-1rem;
		}
	}
	input{
		border: none;
		background-color: transparent;
		outline:none;
		&[type="number"]{
			--moz-appearance: textfield;
			&::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
				appearance: none;
			}
			&::-ms-number-input{
				height: auto;
			}
		}
	}
	textarea{
		min-height: 1rem;
	}
	&:focus-within {
		border-bottom-width: 2px;
		border-bottom-color: var(--primary-bg-color);
		span{
			top:-1rem;
			
		}
	}
}

label.file-upload{
	padding: 0.5rem;
	border-radius: 0.25rem;
	box-shadow: inset -1px -1px 2px #555, 2px 2px 4px #000;
	&:hover{
		box-shadow: inset -2px -2px 4px #555, 3px 3px 6px #000;
	}
	input{
		/* Cant use the display:none; property it nullifies the click handler*/
		visibility: hidden;
		width: 0;
	}
}
.row{
	display:flex;
	flex-flow: row nowrap;

	&.space-evenly{
		justify-content: space-evenly;
	}
	&.space-between{
		justify-content: space-between;
	}
	&.gap-1{
		gap: 1rem;
	}
}

textarea {
	width: 100%;
	resize: vertical;
}

.success {
	color: var(--success-fg-color);
	background-color: var(--success-bg-color);
}
/* Pretty sure sass offers interpolation methods that would allow this to be greatly simplified. I'll look into that later*/
.primary{
	color: var(--primary-fg-color);
	&:not(.light, .dark){
		background-color: var(--primary-bg-color);	
	}
	&.light{
		background-color: var(--primary-bg-color-light);
	}
	&.dark{
		background-color: var(--primary-bg-color-dark);
	}

	
	&.hover:hover{
		&:not(.hover-light, .hover-dark){
			background-color: var(--primary-bg-color);	
		}
		&.hover-light{
			background-color: var(--primary-bg-color-light);
		}
		&.hover-dark{
			background-color: var(--primary-bg-color-dark);
		}
	}
}

button{
	border: none;
	padding:0.5rem 1rem;
	border-radius: 0.25rem;
	box-shadow: inset -2px -2px 2px #555, 2px 2px 4px #000;

	&:hover {
		box-shadow: inset -3px -3px 3px #555, 3px 3px 6px #000;
	}
}

#image-upload{

	svg{
		fill: var(--primary-bg-color-light);
		stroke: var(--primary-fg-color);
		text{
			font-size: 2rem;
			font-weight: bold;
			fill: var(--primary-fg-color);
		}
	}
	
}