:root {
	--bg: #fff;
	--fg: #000;

	--primary-bg: rgb(28, 128, 248);
	--primary-bg-light: rgb(35, 135, 255);
	--primary-bg-dark: rgb(0, 100, 220);
	--primary-fg: #fff;

	--success-bg: rgb(0, 200, 0);
	--success-bg-dark: rgb(0, 180, 0);
	--success-fg: #fff;

	--error-bg: rgb(235, 28, 28);
	--error-bg-light: rgb(255, 50, 50);
	--error-bg-dark: rgb(220, 0, 0);
	--error-fg: #fff;

}

@media (prefers-color-scheme: dark) {
	:root{
		--bg: #333;
		--fg: #fff;

		--primary-bg: rgb(80, 215, 240);
		--primary-bg-light: rgb(100, 235, 255);
		--primary-bg-dark: rgb(60, 195, 220);
		--primary-fg: #000;

		--success-bg: rgb(128, 255, 128);
		--success-bg-dark: rgb(100, 228, 100);
		--success-fg: #000;

		--error-bg: rgb(235, 128, 128);
		--error-bg-light: rgb(255, 150, 150);
		--error-bg-dark: rgb(220, 100, 100);
		--error-fg: #000;
	}
}