<div id="image-upload">
	<label class="file-upload primary light hover">
		<span><i class="fa fa-image"></i> Upload Image</span>
		<input type="file" name="images" multiple="multiple">
	</label>
</div>