<div id="image-upload">
	<label class="file-upload button primary">
		<span><i class="fa fa-image"></i> Upload Image</span>
		<input type="file" name="images" multiple="multiple">
	</label>
	<div class="images"></div>
</div>