/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
2. Remove default margin
 */
* {
  margin: 0;
}

/*
Typographic tweaks!
3. Add accessible line-height
4. Improve text rendering
 */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
5. Improve media defaults
 */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
6. Remove built-in form typography styles
 */
input, button, textarea, select {
  font: inherit;
}

/*
7. Avoid text overflows
 */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
8. Create a root stacking context
 */
#root, #__next {
  isolation: isolate;
}

:root {
  --bg: #fff;
  --fg: #000;
  --primary-bg: rgb(28, 128, 248);
  --primary-bg-light: rgb(35, 135, 255);
  --primary-bg-dark: rgb(0, 100, 220);
  --primary-fg: #fff;
  --success-bg: rgb(0, 200, 0);
  --success-bg-dark: rgb(0, 180, 0);
  --success-fg: #fff;
  --error-bg: rgb(235, 28, 28);
  --error-bg-light: rgb(255, 50, 50);
  --error-bg-dark: rgb(220, 0, 0);
  --error-fg: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #333;
    --fg: #fff;
    --primary-bg: rgb(80, 215, 240);
    --primary-bg-light: rgb(100, 235, 255);
    --primary-bg-dark: rgb(60, 195, 220);
    --primary-fg: #000;
    --success-bg: rgb(128, 255, 128);
    --success-bg-dark: rgb(100, 228, 100);
    --success-fg: #000;
    --error-bg: rgb(235, 128, 128);
    --error-bg-light: rgb(255, 150, 150);
    --error-bg-dark: rgb(220, 100, 100);
    --error-fg: #000;
  }
}
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: var(--primary-bg-light);
  color: var(--primary-fg);
  box-shadow: 2px 2px 4px #000;
  padding: 0 1rem;
}
header nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: stretch;
  gap: 1rem;
}
header nav a {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 1;
  padding: 0 1rem;
}
header nav a::before {
  content: "";
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--primary-bg);
  box-shadow: 2px 2px 4px #000;
  transform: skew(-45deg);
  transition: 200ms;
}
header nav a:hover::before, header nav a.current::before {
  top: 0;
  height: 105%;
  background-color: var(--primary-bg-dark);
  box-shadow: 3px 3px 6px #000;
}

/* 
General color scheme
*/
html, body {
  margin: 0;
  background: var(--bg, #fff);
  color: var(--fg);
  font-size: 1.25rem;
}

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: stretch;
  gap: 1rem;
  margin: 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px #000;
  overflow: hidden;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.column {
  display: flex;
  flex-flow: column nowrap;
}

.row.space-evenly, .column.space-evenly {
  justify-content: space-evenly;
}
.row.space-between, .column.space-between {
  justify-content: space-between;
}
.row.justify-end, .column.justify-end {
  justify-content: flex-end;
}
.row.gap-1, .column.gap-1 {
  gap: 1rem;
}

.expand {
  flex: 1;
}

.success {
  color: var(--success-fg-color);
  background-color: var(--success-bg-color);
}

.button, button {
  border: none;
  box-shadow: 2px 2px 4px #000;
  height: 2rem;
  line-height: 2rem;
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  color: inherit;
  display: inline-block;
}
.button:hover, button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px 6px #000;
}
.button.primary, button.primary {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
}
.button.primary:hover, button.primary:hover {
  background-color: var(--primary-bg-dark);
}
.button.success, button.success {
  background-color: var(--success-bg);
  color: var(--success-fg);
}
.button.success:hover, button.success:hover {
  background-color: var(--success-bg-dark);
}
.button.error, button.error {
  background-color: var(--error-bg);
  color: var(--error-fg);
}
.button.error:hover, button.error:hover {
  background-color: var(--error-bg-dark);
}

.shadowed {
  box-shadow: 2px 2px 4px #000;
}

.clipped {
  overflow: hidden;
}

.rounded {
  border-radius: 0.25rem;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.mw-10 {
  max-width: 10rem;
}

.image-container {
  position: relative;
}
.image-container p {
  position: absolute;
  padding: 0 0.25rem;
  width: 100%;
  height: 2rem;
  bottom: 0;
  backdrop-filter: blur(8px);
  color: #fff;
  background: rgba(0, 0, 0, 0.25);
}

#modal-overlay {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
}
#modal-overlay .modal-hero {
  background-color: var(--bg);
  color: var(--fg);
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 2px 2px 4px #000;
}

/*# sourceMappingURL=style.css.map */
